

.column11 {
padding:2px;
margin-right:5px;
width:100px;
float:left;
}

.circle_container {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 42px;
    border: 3px solid #fff;
    font-family: Cambria;
    font-size: 24px;
    color: white;
    line-height: 80px;
    text-align: center;
    background: #266c30;
    box-shadow: 0 0 0 3px #266c30; 
}

.circle_container_cold {
    width: 80px;
    height: 80px;
    border-radius: 42px;
    border: 3px solid #fff;
    font-family: Cambria;
    font-size: 24px;
    color: white;
    line-height: 80px;
    text-align: center;
    background: #390bc4;
    box-shadow: 0 0 0 3px #390bc4; 
}

.circle_container_hot {
    width: 80px;
    height: 80px;
    border-radius: 42px;
    border: 3px solid #fff;
    font-family: Cambria;
    font-size: 24px;
    color: white;
    line-height: 80px;
    text-align: center;
    background: #ed0000;
    box-shadow: 0 0 0 3px #ed0000; 
}
