* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    background: #47484B;
    height: 50px;
    position: fixed;
    color: white;
    text-align: center;
    z-index: 10;
}

.fa-bars {
    float: left;
    font-size: 30px;
    color: white;
    border: 1px solid transparent;
    transition: all 300ms;
    cursor: pointer;
    padding: 6px;
    margin: 6px;
    
}

.fa-bars:hover {
    border: 1px solid white;
}

.lnr-menu {
    float: left;
    font-size: 30px;
    color: white;
    border: 1px solid transparent;
    transition: all 300ms;
    cursor: pointer;
    padding: 6px;
}

.lnr-menu:hover {
    border: 1px solid white;
}

.header-left {
    float: left;
}

.header-center {
    display: inline-block;
    max-width: 190px;
    font-size: 20px;    
    margin: 13px auto;
}

.header-right {
    float: right;
    margin-top: 14px;
    margin-right: 20px;
    font-size: 18px;
}
/* 

    Menu Lateral

*/

.menu {
    width: 50px;
    height: 100vh;
    background: #47484B;
    position: fixed;
    top: 50px;
    overflow: hidden;
    z-index: 11;
    transition: all 300 ms;
}

@media only screen and (max-width: 600px) {
	.menu {
		width: 0px;
	}
}

.menu-show {
    width: 220px;
}

.menu a:link {
    color: white;
    text-decoration: none;
}

.line {
    margin-top: 10px;
    padding: 6px;
    white-space: nowrap;
    transition: all 300 ms;
}

.line:hover {
    background: #188fe6;
    cursor: pointer;
}

.fas {
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.far {
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.opcion {
    color: white;
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

/*           */

main {
    position: absolute;
    top: 50px;
    left: 60px;
    padding: 20px;
    background: #F9FAFB;
    width: calc(100% - 60px);
    min-height: calc(100% - 50px); /* IMPORTANTE */
}

@media only screen and (max-width: 600px) {
	main {
		left: 0px;
		width: 100%;
	}
}

.main-move {
    left: 240px;
}

article p {
    font-size: 20px;
}

/* Lo que viene a continuación es el formato de la tabla DHCP */

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}