.temperature-container {
    width: 300px;
    height: 300px;
    background: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #EFEFEF;
}

.temp-title {
    color: #72778e;
    font-size: 16px;
}

.circle_container {
    width: 90px;
    height: 90px;
    border-radius: 42px;
    border: 3px solid #fff;
    font-family: Cambria;
    font-size: 24px;
    color: white;
    line-height: 80px;
    text-align: center;
    background: #266c30;
    box-shadow: 0 0 0 3px #266c30;
    margin: 30px auto;
}

.circle_container_cold {
    width: 90px;
    height: 90px;
    border-radius: 42px;
    border: 3px solid #fff;
    font-family: Cambria;
    font-size: 24px;
    color: white;
    line-height: 80px;
    text-align: center;
    background: #390bc4;
    box-shadow: 0 0 0 3px #390bc4;
    margin: 30px auto;
}

.circle_container_hot {
    width: 90px;
    height: 90px;
    border-radius: 42px;
    border: 3px solid #fff;
    font-family: Cambria;
    font-size: 24px;
    color: white;
    line-height: 80px;
    text-align: center;
    background: #ed0000;
    box-shadow: 0 0 0 3px #ed0000;
    margin: 30px auto;
}

.OFF {
    width: 12px;
    height: 12px;
    border-radius: 42px;
    border: 3px solid #fff;
    font-family: Cambria;
    font-size: 24px;
    color: white;
    line-height: 80px;
    text-align: left;
    background: red;
    margin: 20px auto;
    color: red;
    display: inline-block;
    animation: blinker 1s linear infinite;
}

.ON {
    width: 12px;
    height: 12px;
    border-radius: 42px;
    border: 3px solid #fff;
    font-family: Cambria;
    font-size: 24px;
    color: white;
    line-height: 80px;
    text-align: left;
    background: green;
    margin: 20px auto;
    color: green;
    display: inline-block;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
