<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Domotica openHAB</title>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <link rel="stylesheet" href="static/css/ohapp.css">
    <link rel="stylesheet" href="static/css/contenido.css">
    <link rel="stylesheet" href="static/css/temperatura.css">

    <script src="static/js/gauge.min.js"></script>
    
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <header>
        <label class="lnr lnr-menu"></label>
        <div class="header-left"></div>

        <div class="header-center">
  	    {{ titulo }}
       </div>
       <div class="header-right">
            openHAB   
       </div>
        
    </header>
    <div class="menu">
        <div class="line">
            <a href="/">
            <i class="fas fa-home fa-fw"></i>
            <font class="opcion">Home</font>
            </a>
        </div>
        <div class="line">
	    <a href="/temperatura">
            <i class="fas fa-thermometer-half fa-fw"></i>
            <font class="opcion">Temperatura</font>
	    </a>
        </div>
        <div class="line">
	    <a href="/raspberry">
            <i class="fas fa-tachometer-alt fa-fw"></i>
            <font class="opcion">RaspBerry PI</font>
	    </a>
        </div>
        <div class="line">
	    <a href="/red">
            <i class="fas fa-wifi fa-fw"></i>
            <font class="opcion">LAN</font>
	    </a>
        </div>
        <div class="line">
            <i class="fas fa-swimming-pool fa-fw"></i>
            <font class="opcion">Piscina</font>
        </div>
        <div class="line">
            <i class="fas fa-tint fa-fw"></i>
            <font class="opcion">Riego</font>
        </div>
        <div class="line">
            <i class="fas fa-car fa-fw"></i>
            <font class="opcion">Sótano</font>
        </div>
        <div class="line">
            <i class="fas fa-snowflake fa-fw"></i>
            <font class="opcion">Aire Acondicionado</font>
        </div>
        <div class="line">
            <i class="fas fa-sun fa-fw"></i>
            <font class="opcion">Calefacción</font>
        </div>
        
        
        
    </div>
    
    <main>
        <article>
	    {% block contenido %}{% endblock %}
        </article>
    </main>
    <script src="static/js/jquery-3.3.1.min.js">
    </script>
    <script src="static/js/menu.js">
    </script>


</body>
</html>
