{% extends "base.html" %}
{% block contenido %}

    
	<div class="contenido">
        <div class"fila">
            <h3>Exterior</h3>
            <div class="col1">
                <h5>Riego Jardín</h5>
                <form>
                    <input type="checkbox" class="lcs_check" name="sample" value="1" />
                </form>
                <div class="etiqueta">
                    XYZ
                </div>
            </div>
            <div class="col1 vacia">
                
            </div>
            <div class="col1 vacia">
                
            </div>
        </div>
        
        <div class="fila">
            
            <div class="col1">
                <h5>Luces Piscina</h5>
                <div class="etiqueta">
                Etiqueta
                </div>
            </div>
            <div class="col1">
                <h5>Depuradora</h5>
                <div class="etiqueta">
                Etiqueta
                </div>
            </div>
            <div class="col1">
                <h5>Temp Piscina</h5>
                <div class="etiqueta">
                Etiqueta
                </div>
            </div>
        </div>
	</div>
	
	<script type="text/javascript">
        $(document).ready(function(e) {
             $('input').lc_switch();
        });
        
        $('body').delegate('.lcs_check', 'lcs-statuschange', function() {
    var status = ($(this).is(':checked')) ? 'checked' : 'unchecked';
    console.log('field changed status: '+ status );
});
	
	
// triggered each time a field is checked
$('body').delegate('.lcs_check', 'lcs-on', function() {
     console.log('field is checked');
});
	

// triggered each time a field is unchecked
$('body').delegate('.lcs_check', 'lcs-off', function() {
     console.log('field is unchecked');
});
    </script>
    
{% endblock %}

