{% extends "base.html" %}
{% block contenido %}

    
	<div class="contenido">
        <div class"fila">
            <h3>Exterior</h3>
            <div class="col1">
                <h5>Riego Jardín</h5>
                
                <div class="interruptor">
                <div class="etiqueta">
                    Riego: 
                </div>
                <form class="formulario">
                    <input type="checkbox" class="lcs_check" name="riego1" value="1" />
                </form>
                </div>
        
         
            </div>
            <div class="col1 vacia">
                
            </div>
            <div class="col1 vacia">
                
            </div>
        </div>
        
        <div class="fila">
            <div class="col1">
                <h5>Luces lateral</h5>
                <div class="interruptor">
                    <div class="etiqueta">
                        Lateral:
                    </div>
                    <form class="formulario">
                        <input type="checkbox" class="lcs_check" name="luzlateral" value="1" />
                    </form>
                </div>
            </div>
            <div class="col1">
                <h5>Luces escalera</h5>
                <div class="interruptor">
                    <div class="etiqueta">
                        Escalera:
                    </div>
                    <form class="formulario">
                        <input type="checkbox" class="lcs_check" name="luzlateral" value="1" />
                    </form>
                </div>
            </div>
            <div class="col1">
                 <h5>Luces cenador</h5>
                <div class="interruptor">
                    <div class="etiqueta">
                        Cenador:
                    </div>
                    <form class="formulario">
                        <input type="checkbox" class="lcs_check" name="luzlateral" value="1" />
                    </form>
                </div>   
            </div>
        </div>
        <div class="fila">
            
            <div class="col1">
                <h5>Luces Piscina</h5>
                <form>
                    <input type="checkbox" class="lcs_check" name="luzPiscina" value="1" />
                </form>
                
                <div class="etiqueta">
                
                Etiqueta
                </div>
            </div>
            <div class="col1">
                <h5>Depuradora</h5>
                <div class="etiqueta">
                Etiqueta
                </div>
            </div>
            <div class="col1">
                <h5>Temperatura Piscina</h5>
                
                
            </div>
        </div>
	</div>
	
	<script src="static/js/switch-1.js" type="text/javascript"></script>
    
{% endblock %}

