{% extends "base.html" %}
{% block contenido %}

	<div class="contenido">
        <div class="fila">
            <h3>Exterior</h3>
            <div class="col1">
                <h5>Luces Piscina</h5>
                <div class="etiqueta">
                Etiqueta
                </div>
            </div>
            <div class="col1">
                <h5>Depuradora</h5>
                <div class="etiqueta">
                Etiqueta
                </div>
            </div>
            <div class="col1">
                <h5>Temp Piscina</h5>
                <div class="etiqueta">
                Etiqueta
                </div>
            </div>
        </div>
	</div>
	
{% endblock %}

