{% extends "base.html" %}
{% block contenido %}
	
	<div class="contenido">
		<h3>Villanueva de la Cañada</h3>
		<div id="myDiv"></div>
	
    <script>
        var trace1 = {
            x: {{fechas1|safe}},
            y: {{valores1}},
            type: 'scatter',
            line: {shape: 'spline'},
            name: 'Temperatura',
            hoverinfo: 'x+y'
        };

        var selectorOptions1 = {
            buttons: [{
                step: 'month',
                stepmode: 'backward',
                count: 1,
                label: '1m'
            }, {
                step: 'month',
                stepmode: 'backward',
                count: 6,
                label: '6m'
            }, {
                step: 'year',
                stepmode: 'todate',
                count: 1,
                label: 'YTD'
            }
            ],
        };    
        
        var data1 = [trace1];
        var layout1 = {
            title: 'Gráfico medias diarias',
            xaxis: {
                title: 'Fechas',
                rangeselector: selectorOptions1,
                rangeslider: {}
            },
            yaxis: {
                title: 'Grados'
            },
            paper_bgcolor: '#ffffff'
        };

    Plotly.newPlot('myDiv', data1, layout1, {responsive: true});

    </script>
<!--- Muy importante tomar tona de {responsive: true} al llamar a Plotly.newPlot -->
<!--- Es lo que consigue que funcione bien en móviles -->


        <h3>Despacho</h3>
        <div id="myDiv2"></div>

        <script>
        var trace2 = {
            x: {{fechas2|safe}},
            y: {{valores2}},
            type: 'scatter',
            line: {shape: 'spline'},
            name: 'Temperatura',
            hoverinfo: 'x+y'
        };

        var selectorOptions2 = {
            buttons: [{
                step: 'month',
                stepmode: 'backward',
                count: 1,
                label: '1m'
            }, {
                step: 'month',
                stepmode: 'backward',
                count: 6,
                label: '6m'
            }, {
                step: 'year',
                stepmode: 'todate',
                count: 1,
                label: 'YTD'
            }
            ],
        };    

        var data2 = [trace2];
        var layout2 = {
            title: 'Gráfico medias diarias',
            xaxis: {
                title: 'Fechas',
                rangeselector: selectorOptions2,
                rangeslider: {}
            },
            yaxis: {
                title: 'Grados'
            },
            paper_bgcolor: '#ffffff'
        };

        Plotly.newPlot('myDiv2', data2, layout2, {responsive: true});

        </script>


        <h3>Dentro de casa</h3>
        <div id="myDiv4"></div>

        <script>
        var trace3 = {
            x: {{fechas3|safe}},
            y: {{valores3}},
            type: 'scatter',
            line: {shape: 'spline'},
            name: 'Buhardilla',
            hoverinfo: 'x+y'
        };
        
        var trace4 = {
            x: {{fechas4|safe}},
            y: {{valores4}},
            type: 'scatter',
            line: {shape: 'spline'},
            name: 'Sótano',
            hoverinfo: 'x+y'
        };

        var trace5 = {
            x: {{fechas5|safe}},
            y: {{valores5}},
            type: 'scatter',
            line: {shape: 'spline'},
            name: 'Garaje',
            hoverinfo: 'x+y'
        };

        var selectorOptions4 = {
            buttons: [{
                step: 'month',
                stepmode: 'backward',
                count: 1,
                label: '1m'
            }, {
                step: 'month',
                stepmode: 'backward',
                count: 6,
                label: '6m'
            }, {
                step: 'year',
                stepmode: 'todate',
                count: 1,
                label: 'YTD'
            }
            ],
        };    

        var data4 = [trace3, trace4, trace5];
        var layout4 = {
            title: 'Gráfico medias diarias',
            xaxis: {
                title: 'Fechas',
                rangeselector: selectorOptions4,
                rangeslider: {}
            },
            yaxis: {
                title: 'Grados'
            },
            paper_bgcolor: '#ffffff'
        };

        Plotly.newPlot('myDiv4', data4, layout4, {responsive: true});

        </script>

    </div>

{% endblock %}
