{% extends "base.html" %}
{% block contenido %}
	
	<div class="contenido">
		<h3>Grafico</h3>
		<div id="myDiv"></div>
	
<script>
    var trace1 = {
    x: {{fechas|safe}},
    y: {{valores}},
    type: 'scatter',
    line: {shape: 'spline'},
    name: 'Temperatura',
    hoverinfo: 'x+y'
    };

    var selectorOptions = {
        buttons: [{
            step: 'month',
            stepmode: 'backward',
            count: 1,
            label: '1m'
        }, {
            step: 'month',
            stepmode: 'backward',
            count: 6,
            label: '6m'
        }, {
            step: 'year',
            stepmode: 'todate',
            count: 1,
            label: 'YTD'
        }
        ],
    };    
    
var data = [trace1];
var layout = {
	title: 'Gráfico medias diarias',
	xaxis: {
		title: 'Fechas',
        rangeselector: selectorOptions,
        rangeslider: {}
	},
	yaxis: {
		title: 'Grados'
	},
    paper_bgcolor: '#ffffff'
};

Plotly.newPlot('myDiv', data, layout);

</script>


</div>

    
{% endblock %}
