{% extends "base.html" %}
{% block contenido %}

	<div class="contenido">

		<h3>RaspBerry PI</h3>
		<div class="fila">
		    <div class="col1">
			    <h5>RaspBerry PI-1</h5>
		        <div style="text-align: center;">
			        <canvas data-type="radial-gauge"
			        data-width="140"
			        data-height="140"
			        data-units="ºC"
			        data-title="false"
			        data-value="{{ temperatura['RaspTemp1']['Data'][1] }}"
			        data-min-value="10"
			        data-max-value="90"
			        data-major-ticks="10,30,50,70,90"
			        data-minor-ticks="4"
			        data-stroke-ticks="false"
			        data-highlights='[
			            { "from": 10, "to": 50, "color": "rgba(0,0,255,.35)" },
			            { "from": 50, "to": 59, "color": "rgba(0,255,0,.35)" },
			            { "from": 59, "to": 90, "color": "rgba(255,0,0,.25)" }
		              
				    ]'
			        data-font-numbers-size="28"
			        data-color-plate="#222"
			        data-color-major-ticks="#f5f5f5"
			        data-color-minor-ticks="#ddd"
			        data-color-title="#fff"
			        data-color-units="#ccc"
			        data-color-numbers="#eee"
			        data-color-needle-start="rgba(240, 128, 128, 1)"
			        data-color-needle-end="rgba(255, 160, 122, .9)"
			        data-value-box="false"
			        data-animation-rule="bounce"
			        data-animation-duration="500"
			        data-font-value="Led"
			        data-animated-value="true">
			        </canvas>
			        <div class="eti">
			 	        {{ temperatura['RaspTemp1']['Data'][1] }}&deg
			        </div>
			    </div>
		    </div>
		    <div class="col1">
			    <h5>RaspBerry PI-2</h5>
		        <div style="text-align: center;">
			        <canvas data-type="radial-gauge"
			        data-width="140"
			        data-height="140"
			        data-units="ºC"
			        data-title="false"
			        data-value="{{ temperatura['RaspTemp2']['Data'][1] }}"
			        data-min-value="10"
			        data-max-value="90"
			        data-major-ticks="10,30,50,70,90"
			        data-minor-ticks="4"
			        data-stroke-ticks="false"
			        data-highlights='[
			            { "from": 10, "to": 50, "color": "rgba(0,0,255,.35)" },
			            { "from": 50, "to": 59, "color": "rgba(0,255,0,.35)" },
			            { "from": 59, "to": 90, "color": "rgba(255,0,0,.25)" }
		              
				    ]'
			        data-font-numbers-size="28"
			        data-color-plate="#222"
			        data-color-major-ticks="#f5f5f5"
			        data-color-minor-ticks="#ddd"
			        data-color-title="#fff"
			        data-color-units="#ccc"
			        data-color-numbers="#eee"
			        data-color-needle-start="rgba(240, 128, 128, 1)"
			        data-color-needle-end="rgba(255, 160, 122, .9)"
			        data-value-box="false"
			        data-animation-rule="bounce"
			        data-animation-duration="500"
			        data-font-value="Led"
			        data-animated-value="true">
			        </canvas>
			        <div class="eti">
			 	        {{ temperatura['RaspTemp2']['Data'][1] }}&deg
			        </div>
			    </div>
		    </div>
		</div>
	</div>
{% endblock %}

